<footer id="footer">
    <div class="inner md:5" style="background-color: #94f74d;">
        <div class="mx-auto" style="width: 200px;">
            &copy; 
            <%= Time.now.year %>
            <h6>All rights reserved | Design: yo sigo practicando </h6>
        </div>
    </div>
</footer>
