<nav class="navbar navbar-expand-lg navbar-light" style="background-color: 	#94f74d;">
     <%= link_to 'Inicio', home_index_path %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-link">
        <%= link_to 'Clientes', clients_path %>
      </li>

      <li class="nav-link">
        <%= link_to 'Registros', pet_histories_path %>
      </li>
    </ul>
  </div>
</nav>